
<!-- <p-carousel [value]="items" [numVisible]="1" [numScroll]="1" [circular]="true" >
    <ng-template pTemplate="item" let-item >
      <div class="card w-75 mx-auto">
        <div class="row px-5">
            <div class="col-6">
                <img src = {{item.Img}} class="" width="450">
            </div>
            <div class="col-6">
                <div class="card-body py-5 text-right">
                    <h5 class="card-title font-weight-bold h2">{{ item.title }}</h5>
                    <p class="card-text my-4 h3"  [innerHTML]="item.text"></p>
                </div>
            </div>
            

        </div>
       
        </div>
    </ng-template>
</p-carousel> -->
<p-carousel [value]="items" [numVisible]="1" [numScroll]="1" [circular]="true">
    <ng-template pTemplate="item" let-item>
      <div class="card w-75 mx-auto">
        <div class="row px-5 mx-auto align-items-center">
          <div class="row w-75 mx-auto mt-5">
            <div class="d-none d-md-flex col-md-12 align-items-center">
              <div class="col-md-6">
                <img src={{item.Img}} width="200" style="max-height: 100%;" >
              </div>
              <div class="col-md-6">
                <div class="card-body py-5 text-right">
                  <h5 class="card-title font-weight-bold h2">{{ item.title }}</h5>
                  <p class="card-text my-4 h3" [innerHTML]="item.text"></p>
                </div>
              </div>
            </div>
  
            <div class="d-flex flex-column col-sm-12 d-md-none">
              <div class="col-sm-12">
                <img src={{item.Img}} class="w-100" style="max-height: 100%;" >
              </div>
              <div class="col-sm-12">
                <div class="card-body py-5 text-right">
                  <h5 class="card-title font-weight-bold h2">{{ item.title }}</h5>
                  <p class="card-text my-4 h3" [innerHTML]="item.text"></p>
                </div>
              </div>
            </div>
          </div>
  
  
  
        </div>
  
      </div>
    </ng-template>
  </p-carousel>
<div class="text-right mx-5 py-5">
    <h1 class="text-info padding">ملخص الدرس</h1>
    <h3><span class="text-danger padding">الكهرباء الساكنة</span> : هي شحنات كهربية تبقى على جسم.</h3>
    <p class="h5">مثال : المسطرة المشحونة تجذب قصاصات الورق غير المشحونة.</p>
    <h3><span class="text-danger padding">الكهرباء التيارية</span> : هي شحنات كهربية تنتقل خلالَ أسلاك موصلة. </h3>
    <h3 class="text-danger padding"> : التيار الكهربي <span>شحنات كهربية متحركة.</span></h3>
    <h3><span class="text-danger padding"> الدائرة الكهربيه</span> :  مسار للتيار الكهربي.</h3>
    <p class="h5">- معظم الأجهزة فى المنزل تعمل بالكهرباء.</p>
</div>
