<div class="row w-75 mx-auto mt-5">
    <div class="col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-body py-5 text-right">
            <h5 class="card-title font-weight-bold h2">الدرس الثاني </h5>
            <p class="card-text my-4 h3">الكهرباء   </p>
            <p class="card-text my-4 h5">
                معظم الأجهزة المنزلية مثل التلفزيون والكمبيوتر والثلاجة تحتاج للكهرباء من أجل التشغيل، ويتم توصيلها بمصادر الكهرباء عن طريق الأسلاك. يُسمى هذا النوع من الكهرباء بالكهرباء التيارية، بينما هناك نوع آخر من الكهرباء لا يسري في الأسلاك يُسمى بالكهرباء الساكنة.
            </p>
              
            <button class="btn btn-primary px-5" [routerLink]="['/SecondLesson']">بدا</button>
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body py-5 text-right">
          <h5 class="card-title font-weight-bold h2">الدرس الاول</h5>
          <p class="card-text my-4 h3">صور الطاقه وتحولاتها </p>
          <p class="card-text my-4 h5">عندما تحصل على
            غذائك فإته يمدك بالطاقه
            التى تمكنك من القدرة
            على الحركة. وكذلك
            السيارة تحتاج إلى الؤقود
            كمصدر للطاقة التى
            تعمل على تحريكها.. والمصباح  
            يلزمه طاقة كهربائية لكي يضىءَ. وهنا صور أخرى عديدة للطاقة.
            يمكن تحويلها من صورة لأخرى.
            </p>
          <button class="btn btn-primary px-5"  [routerLink]="['/FirstLesson']">بدا</button>
        </div>
      </div>
    </div>
   
  </div>
